*~
*.asv
.DS_Store
.DS_Store
dependencies/.DS_Store
dependencies/chronux_2_12/.DS_Store
buildAnalysisParamFileLib/NDT_analyses/
Pseudocode_Notepad.m
filesOfInterestUpdatedTmp.mat
analysisDonePreExcel.mat
spikePupilCorrPre.mat
postBatchRun.mat
neuroGLMpre.mat
predictSpikeTrainData.mat
tempDevFile.mat
genStatsDev.mat
tmpDevFile.mat
subEventAnalysisTesting.mat
subEventAnalysisTesting_naturalSocial.mat
allBinData.mat
slidingWindowData.mat
subEventAnalysisTesting_headTurnCon.mat
monkeyLogicPreProcessVars.mat


subEventTesting.mat
subEventTesting_Sam.mat
subEventTesting_Sam.mat
subEventPlottingTmp.m
subEventInternalTest.mat
subEventTesting_MoAnim.mat
